@charset "UTF-8";
	#main3{width:100%; height:800px;}
	#main3_title{
		color: white;
		font-size:50px;
		font-family: 'Indie Flower', cursive;
		margin-top: 30px;
		margin-left: 20px;
	}
	
	#main3_content{
		width: 1200px;
	}
	#main3_content img{
		width: 200px;
		height: 200px;
		opacity: 0.5;
		
	}
	#main3_content>div{
		width: 200px;
		height: 200px;
		float: left;
		margin: 50px;
		border-radius: 20px;
	}
	.main3_text{
		position: relative;
		top: -110px;
		width: 100%;
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		text-align: center;
		height: 0px;
	}
	a{
		width: 0;
	}