@charset "UTF-8";
*{margin:0; padding:0;}
ul, li{list-style-type:none; float:left;}

.jumbotron{margin-bottom:0; padding:0;}
.container{width:1200px; max-width:1200px; padding:0;}

header{height:130px; font-family: 'Nanum Gothic Coding', monospace;}
header .container{height:100%;}
header .container>div{float:left; height:100%;}

#header_left>a{position:relative; top:-10px;  font-family: 'Indie Flower', cursive; font-size:50px;}

#header_center{text-align:center;}
#header_center>nav{position:relative;}

#header_menu1{font-size:30px; font-size:50px; top:35px;}
#header_menu2{display:none; font-size:30px; top:55px;}


#header_right{text-align:right; font-size:20px;}
#header_right>nav{position:relative; top:100px;}

section{height:807px; background-color:red;}

footer{height:120px;}
footer .container{height:100%; background-color:green;}