@charset "UTF-8";
body{color:black;}

.container{font-family: 'Gaegu', cursive;font-size:20px;color:black;
		   width:1200px; max-width:1200px; padding:0; position:realative; }
/*헤더부분 notice / notice|공지사항  */
div h1{margin:20px 0 0 488px;}
div h4{margin:50px 0 60px 0;padding:0 0 20px 0;color:black;;
      border-bottom:1px solid gray;}

/*공지사항 폼*/
#noticeMenuMain div, 
#noticeMenu2 div, #noticeMenu3 div, 
#noticeMenu4 div, #noticeMenu5 div
{width:100%;float:left;}      

#noticeMenuMain{font-size:25px;
            width:100%;margin:auto;}
#noticeShow{width:100%;float:left;}

#noticeMenu2{border-top:1px solid gray;
          border-bottom:1px solid gray;
          width:100%;
          margin:auto;float:left;border-top:1px solid gray;line-height:30px;line-height:30px;}
#noticeMenu3, #noticeMenu4, #noticeMenu5{border-bottom:1px solid gray;width:100%;margin:auto;}
#noticeMenuMain #WD, 
#noticeMenu2 #WD, #noticeMenu3 #WD, 
#noticeMenu4 #WD, #noticeMenu5 #WD{text-align:center;font-family: 'Indie Flower', cursive;}
span{position:absolute;left:800px;top:417px;}

/*페이지 넘김 폼*/
#pg ul{margin-left:43%;margin-top:30px;}
#pg a:visited{color:black;}

/*공지사항 눌렀을때 내용*/

#notice{box-sizing:border-box;}
#notice>div>ul>li:first-of-type{padding-left:80px;}
#notice>div>ul>li{float:left;width:11%;}
#notice>div>ul>li:nth-child(4n+1){width:70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#notice>div>ul>li:nth-child(4n+4){padding-left:20px;}
#notice>div>ul>li:nth-child(4n+5){padding-left:50px;}
#title{font-weight:bold;}


#title>ul>li:nth-child(2){padding-left:80px;}
#title>ul>li:nth-child(3){padding-left:80px;}


#s{position:absolute;left:905px;font-size:15px;top:25px;}
#ss{position:absolute;left:1060px;font-size:15px;top:25px;}

/* footer */
#noticeFooter{left:40%;top:15px;position:relative;}

