@charset "UTF-8";
.container{font-family: 'Gaegu', cursive;font-size:20px;}
/*����κ� notice / notice|��������  */
div h1{margin:20px 0 0 498px;color:#fff;}
div h4{margin:50px 0 60px 0;padding:0 0 20px 0;color:#fff;
		border-bottom:1px solid gray;}

/*�������� ��*/
#noticeMenuMain div, 
#noticeMenu2 div, #noticeMenu3 div, 
#noticeMenu4 div, #noticeMenu5 div
{color:#fff;width:100%;margin:auto;}		

#noticeMenuMain{font-size:25px;color:#fff;
				width:100%;margin:auto;border-bottom:1px solid gray;}


{border-top:1px solid gray;
			 border-bottom:1px solid gray;
			 width:1110px;color:#fff;
			 width:100%;
			 margin:auto;}
#noticeMenu2, #noticeMenu3, #noticeMenu4, #noticeMenu5{border-bottom:1px solid gray;
										color:#fff;
										width:100%;
										margin:auto;}
#noticeMenuMain #WD, 
#noticeMenu2 #WD, #noticeMenu3 #WD, 
#noticeMenu4 #WD, #noticeMenu5 #WD{text-align:center;font-family: 'Indie Flower', cursive;}
#n1{position:absolute;left:800px;top:417px;}
#n2{position:absolute;left:800px;top:480px;}
/*������ �ѱ� ��*/
#pg ul{margin-left:43%;margin-top:30px;}
#pg a:visited{color:black;}

/*�������� �������� ����*/
/*1*/
#noticeShow{height:300px;border:1px solid yellow;
			background-image:url(../img/.jpg);}
#noticeShow div{margin:50px 0 0 0;float:left;}
#noticeShow img{width:200px; height:200px;}
/*2*/
#noticeShow2{height:300px;border:1px solid yellow;
			background-image:url(../img/.jpg);}
#noticeShow2 div{margin:50px 0 0 0;float:left;}
#noticeShow2 img{width:200px; height:200px;}


#noticeShow #WD, #noticeShow2 #WD{margin:120px 0 0 0;}

