@charset "UTF-8";
section{width:100%; height:800px;}

#main_slide_view{width:600px; height:400px; 
			margin:10px auto; overflow:hidden;}
#main_slide_img{width:2400px; height:400px; float:left;}
#main_slide_img img{width:600px; height:400px;}

.bx-wrapper{border:0}

#main_top5{width:1000px; height:350px;
		   margin:0 auto;}
		   
#main_top5 li, img{width:180px; height:330px; margin:0 10px; float:left;}	   